.headline {
  color: #aaa;
  font-size: 25px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
  margin-left: 70px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.mainSection {
  display: flex;
  width: 100%;
  text-align: center;
}
