.tipsSection {
  color: #888;
  flex:1;
  /*display: flex;*/
  /*justify-content: space-between;*/
  text-align: center;
}

.tipsTitle {
  /*flex:1;*/
  color: #e76;
  font-size: 18px;
  margin-bottom: 20px;
}

.text {
  /*flex:1;*/
  height: 270px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}